@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #F0F0F0;
}

.navbar {
    margin: 0px;
    padding: 0px;
    box-shadow: 4px 6px 16px 1px rgb(42, 42, 42);
}

.navigation {
    background-color: #153B65;
}

.nav-link-custom {
    font-weight: 500;
    font-size: 18.5px;
    border-bottom: 0.4px solid transparent;
}

.nav-link-custom:hover {
    border-bottom: 0.4px solid white;
}

.content1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    padding: 90px;
}

.content2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    padding-left: 90px;
    padding-bottom: 90px;
}

h1 {
    color: #153B65;
    font-weight: 700;
    text-decoration: underline;
    padding-bottom: 40px;
}

.boxes1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 30px;

}

.boxes2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
}


footer {
    display: flex;
    flex-direction: row;
    background-color: #153B65;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    box-shadow: 10px 10px 10px 10px rgb(33, 33, 34);
}

.navbar2 {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.navbar2-menu {
    list-style: none;
}

.link-navbar2 {
    text-decoration: none;
    color: white;
    font-weight: 700;
}

.link-navbar2:hover {
    color: #6180A3;
    transition: 0.2s;
}

.contact1, .contact2, .contact3 {
    color: white;
}